@import "tailwindcss";

:root{
  --primary_color:#11175D;
  --secondary_color:#5F35F5;
  --primary_text_color:#000000;
  --secondary_text_color:#4D4D4D;
  --different_color:#EA6C00;
  --background_color:#FFFFFF;
  --heading_font: "Nunito", serif;
  --roboto_font:"Roboto", sans-serif;

}


@theme{
  --color-primary_color:var(--primary_color);
  --color-secondary_color:var(--secondary_color);
  --color-primary_text_color:var(--primary_text_color);
  --color-secondary_text_color:var(--secondary_text_color);
  --color-different_color:var(--different_color);
  --color-background_color:var(--background_color);
  --font-heading_font:var(--heading_font);
  --font-roboto_font:var(--roboto_font);
}


.container{
  max-width:1170px;
  scroll-behavior: smooth;
}
@layer base{
  *{
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
  }


  a{
    text-decoration:none;
    
  }
  li,ul,ol{
    list-style:none;
  }

  img{
    vertical-align: middle;
  }
/* ================ home page nav-link active */

.active{

  width:180%;
  background-color: white;
  padding: 10px 0px;
 
  position:relative;
 
  

}
.active::before{
  position:absolute;
  content: "";
  width: 40%;
  height:100%;
  background-color:white;
  top: 0;
  left: -40%;
  
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.active::after{
  position:absolute;
  content: "";
  width: 10%;
  height:100%;
  background-color:var(--secondary_color);
  top: 0;
  right:-2%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

  
  /* === customized  scrollbar =========  */

  .scrollable-content{
    width:100%;
    height:92dvh;
    overflow-y: scroll; /*enable vertical scrollbar*/
    padding-right: 10px;
    border-radius: 10px;
  }

  .scrollable-content::-webkit-scrollbar{
    width:9px;
  }
  
  .scrollable-content::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow:inset 0 0 5px rgba(0,0,0,0.1);
   }

   .scrollable-content::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,red,orange);
    border-radius: 10px;
    transition:background 0.3s ease-in-out;
   }
   .scrollable-content::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(45deg,red,orange);
   }

  /* === scrollbar =========  */

}


